<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629826703982-j8c2h4ogjjnich8ee0m7s05l9u2865gc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629826703982-j8c2h4ogjjnich8ee0m7s05l9u2865gc</string>
	<key>API_KEY</key>
	<string>AIzaSyCnZ1jsM8uQWBz6LFtetL2jKwD2qEeqJ2s</string>
	<key>GCM_SENDER_ID</key>
	<string>629826703982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quran.quranapp</string>
	<key>PROJECT_ID</key>
	<string>quranapp-a86cd</string>
	<key>STORAGE_BUCKET</key>
	<string>quranapp-a86cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629826703982:ios:0a0157ca79ef4e520f4c7f</string>
	<key>DATABASE_URL</key>
	<string>https://quranapp-a86cd.firebaseio.com</string>
</dict>
</plist>